@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <div class="text-center">
        <h1>Welcome to Acme Insurance</h1>
        <h4>The best insurance company on the planet!</h4>
        <hr class="my-4" />
        <p>Get a free, no obligation quote today!</p>
        <button class="btn btn-lg">@Html.ActionLink("Free Quote", "Quote", "Home")</button>
    </div>
</div>
<div>
    @Html.ActionLink("Admin Page", "Index", "Admin")
</div>
